
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    font-size: 62.5;
    font-family:Nunito Sans ;
}
:root{
 --primary-color: #202020;
 --secundary-color1: #f40d31;
 --secundary-color2: #2f2f2f;
 --font-color1: #fff;
    /*verde: #8DFF00*/
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--default{
    padding: 8rem;
    background: var(--primary-color);
}
header {
    background: var(--primary-color);
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav{
    font-size: 1.8rem;
    color: var(--font-color1);
    transition: width 0.3 ease;
}
nav ul{
    list-style: none;
    display: flex;
     
}
nav ul li{
    margin-right: 2rem;
    top: 2.5rem;
    position: relative;
}
nav ul li::after{
    content: ""; 
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: var(--secundary-color1);
    transition: width 0.3 ease;
}
nav ul li:hover::after{ 
   width: 100%; 
}
.icone--toggle{
    padding: 2px;
    margin-right: 10px;
   z-index: 99;
   display: none;
}
.icone--toggle .menu{
    display: block;
}
.icone--toggle .menu div{
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background: #fff;
}
.icone--toggle .close{
  display: none;
}
.icone--toggle .close div{
    position: absolute;
    right: 10px;
    width: 30px;
    height: 5px;
    background: #fff;
}
.icone--toggle .close div:nth-child(1){
    transform: rotate(48deg);
}
.icone--toggle .close div:nth-child(2){
    transform: rotate(-47deg);
}

.hero{
    display: flex;
    gap: 6rem;
    color: var(--font-color1);
}
.section--default{
    padding: 8rem;
    background: var(--primary-color);
}
.hero--left{
    height: 100%;
    flex: 3;
}
.hero--left h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.hero--left h2{
    font-size: 2rem;
    color: var(--secundary-color1);
    margin-bottom: 1.5rem;
}
.hero--left p{
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 300;
}
.button{
    width: 100px;
    height: 40px;
    background: var(--secundary-color1);
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: bold;
}
.hero--right{
    flex: 2;
}

.hero--right .myphoto{
    width: 28rem;
    filter: drop-shadow(-20px 20px var(--secundary-color2)) grayscale(90%); 
}
.area-icon{
    display: flex;
    margin-top: 1.8rem;
    
    
}
.area-icon--social {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
    background: var(--secundary-color2);
    border-radius: 100%;
    padding: 0.5rem;
    filter: invert(10%)
}
.area-icon--social:nth-child(1):hover{
    
    animation: fadeInColorWhite 1s ease-out forwards;
}
.area-icon--social:nth-child(2):hover{
    animation: fadeInColorBlueSky 1s ease-out forwards;
}
.area-icon--social img{
    width: 100%;   
}
.section--techs{
    display: flex;
    gap: 3rem;
    padding: auto;
}
.area-techs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 52rem;
    border: 3px solid var(--secundary-color2);
    border-radius: 20px;
    padding: 2rem;
}
.area-techs--item img{
    width: 100%;
    filter: saturate(15%);
}   .area-techs--item img:hover{
       filter: saturate(100%); 
}
.area-techs--item{
 width: 10rem;
}
.area-techs--item p{
    text-align: center;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}
.skills{
    max-width: 25rem;
    border: 3px solid var(--secundary-color2);
    border-radius: 20px;
    padding: 2rem; 
    color: #fff;
    align-content: center;
}
.skills .skills--item {
    margin-bottom: 2rem;
}
.skills img{
    width: 2.5rem;
    gap: 3px;
}
.skills .skills--item  {
    font-size: 1.2rem ;
    font-weight: 600; 
}




/*mobile*/
@media screen and (width < 767px){
    .section--default{
        padding: 1rem;
        background: var(--primary-color);
    }
    nav{
        position: absolute;    
        top: 0rem;
        width: 0vw;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, 0.9);
        transition: 0.5s ease;
        z-index: 98;
        overflow-y: hidden;
    }
    nav ul{
       flex-direction: column; 
    }
    nav ul li{
        width: 10rem;
        margin-right: 0.5rem;
    }
    .icone--toggle{
        display: block;
    }

    .hero{
        flex-direction: column;
    }
    .hero--left h2{
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }
    .hero--left h1{
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
    }
    .hero--left p{
        margin-bottom: 1.3rem;
        font-size: 1.2rem;
    }
    .hero--right{
        margin: auto;
        margin-bottom: 2rem;
    }
    .hero--right .myphoto{
        width: 16rem;
    }
    .section--techs{
        flex-direction: column;
    }
    .area-techs{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        border-radius: 20px;
        gap: auto;
    }
    .area-techs--item img{
        width: 100%;
    }
    .area-techs--item{
     width: 100%;
     padding: auto;
    }
    .area-icon--social {
    width: 2.5rem;
    height: 2.5rem;
  
}
}